/* inisialiasi warna */
:root {
    --primary-color: #85301b;
    --secondary-color: #512c17;
    --background-color: #F1E5DE;
    --text-color: #333333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar .navbar-logo{
    font-size: 2rem;
    font-weight: 700;
    color: var(--background-color);
}

.navbar img{
    height: 50px;
}